* {
  box-sizing: border-box;
}

body {
  max-height: 100vh;
}

.boards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 20px;
}

.playerBoard-container,
.aiBoard-container {
  text-align: center;
}

.playerBoard-name,
.aiBoard-name {
  font-size: 28px;
}

.board-row {
  display: flex;
  width: 100%;
}

.board-cell {
  background-color: blue;

  width: 40px;
  height: 40px;
  border: 1px solid #333;
  cursor: pointer;
}

/* Cell when it has a ship */
.board-cell.ship {
  background-color: green;
}

/* Cell when it is hit */
.board-cell.hit {
  background-color: red;
}

/* Cell when attack misses */
.board-cell.miss {
  background-color: grey;
}

.message-container {
  background-color: black;
  width: 90%;
  border: 2px solid black;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  color: white;
  font-size: 32px;
  padding: 24px 12px;
}

.show {
  display: block;
}

.highlight {
  background-color: green;
}

.ship {
  display: flex;
}
